@model calculator_asp_net_app.Models.Calculator;

@{
    ViewData["Title"] = "Calculator";
}

<form action="Calculator" class="d-flex flex-column gap-4">
    <div class="form-group">
        <label for="exampleFormControlInput1">First number</label>
        <input type="number" class="form-control" id="firstNumber" placeholder="27" asp-for="FirstNumber">
    </div>

    <div class="form-group">
        <label for="secondNumber">Second number</label>
        <input type="number" class="form-control" id="secondNumber" placeholder="12" asp-for="SecondNumber">
    </div>

    <div class="form-group">
        <label for="operation">Select operation</label>
        <select class="form-control" id="operation" asp-for="Operation">
            <option value="+">addition</option>
            <option value="-">subtraction</option>
            <option value="*">multiplication</option>
            <option value="/">division</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Calculate</button>
</form>

<div class="text-center mt-4">
    <p>Result:</p>
    <p class="text-primary fs-2 fw-bold">@ViewBag.Result</p>
</div>
